/* Header CSS */
.Header {
  width:100%; 
  background-color:rgb(212, 163, 115);
}

.HeaderContent {
  margin: 0 auto; 
  width: 95%;
  text-align: left;
}

/* Navigation Bar CSS */
.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(233, 237, 201);
}

.NavOption {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavOption:hover {
  background-color: rgb(204, 213, 174);
  color: rgb(31, 32, 31);
}

.NavOption {
  border-right: 2px solid #ffffff;
}

.NavOption:last-child {
  border-right: none;
}

/* Home CSS */
.Home {
  border: 3px solid #646cff;
  margin: 10px;
  padding: 5px;
}

/* ReviewsList CSS */
.ReviewsList {
  border: 3px solid rgb(212, 163, 115);
  margin: 10px;
  padding: 10px;
  list-style: none;
  display:flex;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
 
}

.ReviewsListTitle {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/* ReviewCard CSS */
.ReviewListItem {
  border: 3px solid rgb(204, 213, 174);
  background-color: rgb(233, 237, 201);
  margin: 5px;
  padding: 10px;
}

.RCTitle {
  background: rgb(173, 193, 120);
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size: 100%;
}

.RCImage {
  margin: 1rem;
  border-radius: 8px;
  width: 150px;
  height: 120px;
}


/* Loading CSS */
.Loading {
  text-align: center;
}

/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
