/* Bold */ 
.bold{
  font-weight: bold;
}

/* Header CSS */
.Header {
  width:100%; 
  background-color:rgb(154, 3, 30);
  color: #ffffff;
}

.HeaderContent {
  margin: 0 auto; 
  width: 95%;
  text-align: left;
}

/* Navigation Bar CSS */
.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(251, 139, 36);
}

.NavOption {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavOption:hover {
  background-color: rgb(227, 100, 20);
  color: rgb(31, 32, 31);
}

.NavOption {
  border-right: 2px solid #ffffff;
}

.NavOption:last-child {
  border-right: none;
}

/* Home CSS */
.Home {
  border: 3px solid #646cff;
  margin: 10px;
  padding: 5px;
}

/* ReviewsList CSS */
.ReviewsList {
  border: 3px solid rgb(0, 29, 61);
  margin: 10px;
  padding: 10px;
  list-style: none;
  display:flex;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
}

.ReviewsListTitle {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color:rgb(0, 29, 61)
}

/* ReviewCard CSS */
.ReviewListItem {
  background-color: rgb(245, 242, 215);
  margin: 5px;
  padding: 10px;
}

.RCTitle {
  color: rgb(0, 29, 61);
  text-align:center;
  font-size: 20px;
}

.RCImage {
  border-radius: 8px;
  width: 20%;
  height: 30%;
}

/* Single Review CSS */
.SingleReviewContainer {
  border: 3px solid rgb(245, 242, 215);
  
  margin: 5px;
  padding: 10px;
}

.SingleReviewTitle {
  grid-area: header;
  text-align: center;
  color: rgb(0, 29, 61);
}

.SingleReviewInfo {
  background-color: rgb(245, 242, 215);
  margin: 10px;
  padding: 10px;
}

#SRImage {
  margin: 1rem;
  border-radius: 8px;
  width: 40%;
  height: 40%;
}


/* Loading CSS */
.Loading {
  text-align: center;
}

/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
